.home-layout {
  background-color: whitesmoke;
  color : dimgray;
}

.home-layout .btn {
  background-color: white;
  color : grey;
  border-color: lightgray;
}

.home-layout .title-section{
  background-color: #e4e4e4;
  text-align: center;
  color: #494949;
  font-family: sans-serif;
  min-height: 130px;
  height: 20%;
  font-size: 1.5rem;
}

.home-layout .icon-section{
  background-color: red;
}

.home-layout .logo {
  max-width:60px;
  height: auto;
}

.home-layout .page-icon {
  border: solid 4px #e8e8e8;
  padding: 0px;
  max-width:120px;
  height: auto;
  margin-top: -60px;
  margin-right: auto;
  margin-left: auto;
  background-color: orange;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; 
}

.home-layout .custom-modal .btn{
  background-color: orange;
  border-color: orange;
}

.home-layout .edit-btn{
  max-width:20px;
  height: auto;
}

.icon-weather{
  width: 120px;
  margin: -20px;
}

.icon-menu{
  width: 70px;
}