.login-layout {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url("../_img/Bretagne.jpg");
    background-color: orange;
    background-position: 50% 30%;
    background-size: cover;
    color : white;
  }
  
  /* unvisited link */
  .login-layout a:link {
    color: white;
  }
  
  /* visited link */
  .login-layout a:visited {
    color: white;
  }
  
  /* mouse over link */
  .login-layout a:hover {
    color: orange;
  }
  
  /* selected link */
  .login-layout a:active {
    color: white;
  }

  .login-layout .btn {
      background-color: orange;
      color: white;
    border-color: orange;
  }

  .login-layout .textfield {
      /* background-color: rgba(255, 255, 255, 0.397);
      border-color: rgba(255, 255, 255, 0.397); */

      background-color: rgba(255, 255, 255, 0.0);
      border-color: white;
      color: white;
  }


.login-layout  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 0.7; /* Firefox */
}

.logo {
    max-width:300px;
    height: auto;
}