.main-layout {
    background-color: whitesmoke;
    color : dimgray;
}

.main-layout .btn {
    background-color: white;
    color : grey;
    border-color: lightgray;
}

.main-layout .title-section{
    background-color: #e4e4e4;
    text-align: center;
    color: #494949;
    font-family: sans-serif;
    min-height: 130px;
    height: 20%;
    font-size: 1.5rem;
}

.main-layout .icon-section{
    background-color: red;
}

.main-layout .logo {
    max-width:60px;
    height: auto;
}

.main-layout .page-icon {
    border: solid 4px #e8e8e8;
    padding: 25px;
    max-width:120px;
    height: auto;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    background-color: orange;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
}

.main-layout .custom-modal .btn{
    background-color: orange;
    border-color: orange;
}

.edit-btn{
    max-width:20px;
    height: auto;
}